In [ ]:
import nltk
nltk.download()

In [29]:
import pandas as pd
import numpy as np
import got
import nlp
# encoding=utf8
import sys
reload(sys)
sys.setdefaultencoding('utf8')
from collections import Counter

In [ ]:
# Get tweets
results = []
for i in range(5, 21):
    tweetCriteria = got.manager.TweetCriteria().set(
        q='"Harvey Weinstein"', since= '2017-10-{}'.format(i), until='2017-10-{}'.format(i+1),max_tweets=100,top_tweets=True
    )

    pulled_tweets = got.manager.TweetManager.getTweets(tweetCriteria)
    results.append(pulled_tweets)
#len(pulled_tweets)

In [ ]:
#results

In [ ]:
#map(type, results)

In [ ]:
#pulled_tweets

In [ ]:
w = pd.DataFrame([t.__dict__ for tweets in results for t in tweets])
w.head()

In [ ]:
ws = w[['date','geo','permalink','retweets','text']]
ws.head()

In [ ]:
ws.to_csv('weinstein.csv')

## Ashley Judd

In [ ]:
# Get tweets
results = []
for i in range(5, 31):
    tweetCriteria = got.manager.TweetCriteria().set(
        q='"Ashley Judd"', since= '2017-10-{}'.format(i), until='2017-10-{}'.format(i+1),max_tweets=100,top_tweets=True
    )

    pulled_tweets = got.manager.TweetManager.getTweets(tweetCriteria)
    results.append(pulled_tweets)

In [ ]:
aj = pd.DataFrame([t.__dict__ for tweets in results for t in tweets])
aj.head()

In [ ]:
ajs = aj[['date','geo','permalink','retweets','text']]
aj.head()

In [ ]:
aj.to_csv('ashley.csv')

## Rose McGowan

In [2]:
# Get tweets
results = []
for i in range(5, 31):
    tweetCriteria = got.manager.TweetCriteria().set(
        q='"Rose McGowan"', since= '2017-10-{}'.format(i), until='2017-10-{}'.format(i+1),max_tweets=100,top_tweets=True
    )

    pulled_tweets = got.manager.TweetManager.getTweets(tweetCriteria)
    results.append(pulled_tweets)

In [6]:
rg = pd.DataFrame([t.__dict__ for tweets in results for t in tweets])
rg.head()

,date,favorites,geo,hashtags,id,mentions,permalink,retweets,text,username
0,2017-10-05 19:51:45,0,,[],916088550998896643,[@toofab],https://twitter.com/mwenger1993/status/9160885...,1,"Rose McGowan , Lena Dunham Among Stars Speakin...",mwenger1993
1,2017-10-05 19:50:01,0,,[#8],916088115340742657,[],https://twitter.com/SamCimino/status/916088115...,0,#8 THE SOUND (2017) - Rose McGowan as a wannab...,SamCimino
2,2017-10-05 19:48:08,0,,[],916087643342913536,[],https://twitter.com/publishyoufree/status/9160...,0,Rose McGowan on What Advice She Would Give Her...,publishyoufree
3,2017-10-05 19:43:05,2,,[],916086371399254016,[],https://twitter.com/latimesent/status/91608637...,3,"Lena Dunham, Rose McGowan add voices to Harvey...",latimesent
4,2017-10-05 19:38:32,1,,"[#HarveyWeinstein, #Rosemcgowan]",916085225280565248,[],https://twitter.com/goldensack/status/91608522...,0,Rose McGowan claims he raped her years ago and...,goldensack KurtSchlichter jaketapper

In [7]:
rgs = rg[['date','geo','permalink','retweets','text']]
rgs.to_csv('rose.csv')

## Counting Words

In [10]:
wss = pd.read_csv('weinstein_sentiment.csv',delimiter='\t').drop('Unnamed: 0', axis=1)
wss.head()

,date,geo,permalink,retweets,text,neg,neu,pos,compound
0,2017-10-05 19:59:59,NaN,https://twitter.com/Wit2Tweet/status/916090624...,0,Quotes From The Harvey Weinstein 'New York Tim...,0.073,0.822,0.105,0.1779
1,2017-10-05 19:59:58,NaN,https://twitter.com/SheeitDawg/status/91609061...,0,Can't wait to see if Harvey Weinstein 's big a...,0.000,1.000,0.000,0.0000
2,2017-10-05 19:59:52,NaN,https://twitter.com/jacobwe/status/91609059305...,0,People who won't be suing the New York Times: ...,0.000,0.858,0.142,0.2057
3,2017-10-05 19:59:48,NaN,https://twitter.com/fundasila1/status/91609057...,0,Bets and coupons of 6 October. Good luck to al...,0.000,0.643,0.357,0.8360
4,2017-10-05 19:59:46,NaN,https://twitter.com/nickprice91/status/9160905...,0,It’s complicated: Dems who took money from Har...,0.000,1.000,0.000,0.0000

In [41]:
wss['tokens'] = wss.text.apply(nlp.tweet_tokenize)

In [42]:
wss[['tokens']].head()

                                              tokens
0  [Quotes, From, The, Harvey, Weinstein, New, Yo...
1  [Can't, wait, see, Harvey, Weinstein, big, ant...
2  [People, won't, suing, New, York, Times, Harve...
3  [Bets, coupons, 6, October, Good, luck, Jose, ...
4  [It, �, �, �, complicated, Dems, took, money, ...

In [22]:
pcounter = Counter()
psentiment = {}
ncounter = Counter()
nsentiment = {}

for i, tweet in wss.iterrows():
    for word in tweet['tokens']:
        count_update = 1 + tweet['retweets']
        if tweet['compound'] > 0:
            pcounter.update({word: count_update})
            psentiment[word] = psentiment.get(word, 0) + count_update * tweet['compound']
        else:
            ncounter.update({word: count_update})
            nsentiment[word] = nsentiment.get(word, 0) + count_update * tweet['compound']

In [30]:
[
    (word, count, psentiment[word] / count)
    for word, count in pcounter.most_common(20)
], [
    (word, count, nsentiment[word] / count)
    for word, count in ncounter.most_common(20)
]

([('Harvey', 1197, 0.4851200501253136),
  ('Weinstein', 1170, 0.48853470085470124),
  ('\x80', 996, 0.49386104417670695),
  ('\xe2', 996, 0.49386104417670695),
  ('\xa6', 876, 0.4945827625570776),
  ('sexual', 412, 0.5703968446601942),
  ('Wow', 408, 0.5758580882352942),
  ('10', 404, 0.5779712871287129),
  ('claims', 402, 0.5783124378109453),
  ('allowed', 401, 0.5769825436408977),
  ('settled', 400, 0.5778),
  ('harassment', 400, 0.5778),
  ('12', 400, 0.5778),
  ('crime', 400, 0.5778),
  ('contract', 400, 0.5778),
  ('weinstein-contract-the-weinstein-company-sexual-harassment-firing-illegal',
   400,
   0.5778),
  ('charged', 400, 0.5778),
  ('long', 400, 0.5778),
  ("wasn't", 400, 0.5778),
  ('#2017', 400, 0.5778)],
 [('Weinstein', 5832, -0.33146743827160496),
  ('Harvey', 5762, -0.32683946546338066),
  ('\xe2', 5409, -0.2084038639304861),
  ('\x80', 5382, -0.20944936826458552),
  ('\xa6', 2531, -0.29220098775187664),
  ('\x99', 1817, -0.1445809576224546),
  ('Lupita', 1411, -0.29093933380581155),
  ('Hollywood', 1129, -0.4978403897254206),
  ('I', 1044, -0.11907490421455937),
  ('silence', 930, -0.5325552688172043),
  ('left', 882, -0.5427249433106576),
  ('Media', 876, -0.5426382420091325),
  ('past', 867, -0.5400349480968858),
  ("they're", 866, -0.5413035796766744),
  ('destroy', 863, -0.5423),
  ('Nyong', 827, -0.1263178960096735),
  ('women', 697, -0.4917767575322812),
  ('harassment', 686, -0.5698829446064142),
  ('Her', 633, -0.02217219589257504),
  ('About', 621, -0.04068615136876007)])

In [34]:
harvey_count_senti = pd.DataFrame([
   (word, pcounter.get(word, 0), ncounter.get(word, 0), psentiment.get(word, 0) / pcounter.get(word, 1), nsentiment.get(word, 0) / ncounter.get(word, 1))
    for word in set(pcounter.elements()) & set(ncounter.elements())
], columns=['word', 'positive count', 'negative count', 'positive sentiment', 'negative sentiment'])

In [36]:
harvey_count_senti.to_csv('harvey_count_senti.csv')

In [37]:
harvey_count_senti.head()

,word,positive count,negative count,positive sentiment,negative sentiment
0,forget,78,1,0.428450,-0.025800
1,child,1,16,0.526700,-0.742944
2,Macron,3,1,0.752567,0.000000
3,daughter's,23,1,0.764200,-0.807400
4,legal,1,2,0.128000,-0.750600

In [52]:
harvey_count_senti.shape

(850, 5)

## For Asheley Judd

In [38]:
ajs = pd.read_csv('ashley',delimiter='\t').drop('Unnamed: 0', axis=1)
ajs.head()

,date,favorites,geo,hashtags,id,mentions,permalink,retweets,text,username,neg,neu,pos,compound
0,2017-10-05 19:57:30,0.0,NaN,"[u'#Harvey', u'#Weinstein']",9.160900e+17,[],https://twitter.com/ssoyuwis/status/9160899987...,0.0,"Two decades ago, the Hollywood producer #Harve...",ssoyuwis,0.000,1.000,0.000,0.0000
1,2017-10-05 19:57:08,0.0,NaN,[],9.160899e+17,[],https://twitter.com/Touch4Healing/status/91608...,0.0,Harvey Weinstein Responds to Ashley Judd 's Se...,Touch4Healing,0.000,1.000,0.000,0.0000
2,2017-10-05 19:56:45,0.0,NaN,[],9.160898e+17,[],https://twitter.com/Aaron885290571/status/9160...,0.0,The hypocrisy of Ashley Judd . Calling trump a...,Aaron885290571 RitaPanahi nytimes,0.124,0.876,0.000,-0.4019
3,2017-10-05 19:56:45,6.0,NaN,[],9.160898e+17,[],https://twitter.com/ona3pica/status/9160898091...,0.0,"I don't think highly of Harvey Weinstein, but ...",ona3pica MarkYoungTruth chuckwoolery POTUS,0.171,0.708,0.122,-0.3053
4,2017-10-05 19:56:16,0.0,NaN,[],9.160897e+17,[],https://twitter.com/SavetheUSNation/status/916...,0.0,"http://ift.tt/2fVhVtR "" Ashley Judd is bravely...",SavetheUSNation,0.000,0.864,0.136,0.5106

In [47]:
from IPython.display import display
display(5)

5

In [53]:
for t in ajs.text.replace(np.nan, ''):
    try:
        nlp.tweet_tokenize(t)
    except:
        display(t)

In [54]:
ajs['tokens'] = ajs.text.replace(np.nan, '').apply(nlp.tweet_tokenize)

In [55]:
ajs[['tokens']].head()

                                              tokens
0  [Two, decades, ago, Hollywood, producer, #Harv...
1  [Harvey, Weinstein, Responds, Ashley, Judd, Se...
2  [The, hypocrisy, Ashley, Judd, Calling, trump,...
3  [I, don't, think, highly, Harvey, Weinstein, I...
4  [Ashley, Judd, bravely, coming, Weinstein, Now...

In [56]:
pcounter = Counter()
psentiment = {}
ncounter = Counter()
nsentiment = {}

for i, tweet in ajs.iterrows():
    for word in tweet['tokens']:
        count_update = 1 + tweet['retweets']
        if tweet['compound'] > 0:
            pcounter.update({word: count_update})
            psentiment[word] = psentiment.get(word, 0) + count_update * tweet['compound']
        else:
            ncounter.update({word: count_update})
            nsentiment[word] = nsentiment.get(word, 0) + count_update * tweet['compound']

In [57]:
[
    (word, count, psentiment[word] / count)
    for word, count in pcounter.most_common(20)
], [
    (word, count, nsentiment[word] / count)
    for word, count in ncounter.most_common(20)
]

([('Judd', 2112.0, 0.489199857954546),
  ('Ashley', 2110.0, 0.48911061611374473),
  ('\xe2', 928.0, 0.45896433189655167),
  ('\x80', 921.0, 0.45949131378935937),
  ('Weinstein', 832.0, 0.5424781249999998),
  ('I', 595.0, 0.5449196638655462),
  ('\x99', 375.0, 0.4024938666666665),
  ('years', 367.0, 0.5604111716621254),
  ('\xa6', 362.0, 0.47916160220994436),
  ('women', 263.0, 0.607983269961977),
  ('Harvey', 246.0, 0.5486373983739837),
  ('ago', 246.0, 0.6011479674796745),
  ('like', 245.0, 0.5597138775510201),
  ('sex', 240.0, 0.45564374999999996),
  ("didn't", 221.0, 0.6652117647058821),
  ('Good', 206.0, 0.680664563106796),
  ('right', 201.0, 0.6713512437810945),
  ('feminist', 200.0, 0.4222795),
  ('woman', 199.0, 0.4484326633165829),
  ('20', 197.0, 0.6807401015228426)],
 [('Ashley', 15047.0, nan),
  ('Judd', 15011.0, nan),
  ('Hollywood', 6003.0, -0.0359952523738131),
  ('Women', 5876.0, nan),
  ('Weinstein', 5826.0, nan),
  ('Madonna', 5790.0, nan),
  ('wearing', 5754.0, -0.005116319082377477),
  ('March', 5740.0, -0.00505020905923345),
  ('Will', 5722.0, nan),
  ('When', 5718.0, -0.0021986009094088843),
  ('speak', 5714.0, -0.0010319565978298914),
  ('hats', 5711.0, -0.0008223603572053931),
  ('vagina', 5710.0, nan),
  ('#HarveyWeinstein', 5709.0, -0.0009260816255035908),
  ('Michael', 5708.0, -0.00033146461107217936),
  ('Hey', 5707.0, -0.001189328894340284),
  ('Moore', 5706.0, -6.691202243252716e-05),
  ('On', 5704.0, nan),
  ('Tell', 5700.0, -0.0005969298245614036),
  ('Are', 5698.0, -0.00025263250263250265)])

In [58]:
judd_count_senti = pd.DataFrame([
   (word, pcounter.get(word, 0), ncounter.get(word, 0), psentiment.get(word, 0) / pcounter.get(word, 1), nsentiment.get(word, 0) / ncounter.get(word, 1))
    for word in set(pcounter.elements()) & set(ncounter.elements())
], columns=['word', 'positive count', 'negative count', 'positive sentiment', 'negative sentiment'])

TypeError: integer argument expected, got float

In [ ]:
harvey_count_senti.to_csv('harvey_count_senti.csv')